body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.header {
    background-color: #1F2937;
    margin: 0px;
    padding: 4px 100px 80px 100px;
}

.navigation p{
    font-size: 24px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    color: #F9FAF8;
}

.navigation ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
    gap: 15px;
}

.navigation a{
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.navigation {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    margin-bottom: 65px;
}

.hero{
    display: flex;
    justify-content: space-between;
}
.state .main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.state p{
    margin: 0px;
    margin-bottom: 5px;
}

.hero img {
    width: 500px;
    align-self: stretch;
    background-color: #787878;
    color: #F9FAF8;
}
.state p{
    font-size: 18px;
    color: #E5E7EB;
}

.state button{
    background-color: #3882F6;
    padding: 4px 18px;
    border: 0px;
    border-radius: 6px;
    color: #F9FAF8;
    font-weight: bold;
}

.information{
    text-align: center;
    padding: 20px 40px 45px 40px;
}

.title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #1F2937;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.infor img{
    width: 200px;
    background-color: #f2f2f2;
    border: 1px solid #3882F6;
}


blockquote p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E5E7EB;
   margin: 0px;
   padding: 32px 50px;
  }
  
  
  
